<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>asignaturas</ion-title>
  </ion-toolbar>
</ion-header>
  

<ion-content>
  <ion-list>
     <!--programacion-->
    <ion-item>
      <ion-label id="texto3">Programacion web</ion-label>
    </ion-item>
     <!--programacion-->
  
    <ion-item>
      <ion-label id="texto1">matematica aplicada</ion-label>
    </ion-item>
  </ion-list>

</ion-content>